.bisflip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#viewerwidget {
    top: 61px;
    left: 0px;
    width: 100vw;
    height: calc(100%-61px);
    position: relative;
}
